<body>
	<h3>Refugges And Protected Persons</h3>
	<p>Refugges protection may be provided to people in Canada who fear persecution or who would be in danger such as tortue, the risk to their life, risk of cruel and unusual treatment or punishment if they had to leave Canada. To make a refugee claim, the person must be in Canada and not subject to a removal order.</p>
	<p>Convection refugges are outside their home country or the country they normally live in. They're are not able to return because of a well-founded fear of persection based on race, religion, political opinion, nationality of a social group, such as women or people of a particular sexual orientation.</p>
</body>
